version: '3.8'

services:
  nextjs:
    build: .
    container_name: nextjs-app
    ports:
      - "3000:3000"  # Expone el puerto 3000 para acceder al frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
